# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/

# Environment variables
.env
settings/.env

# Logs
logs/*
!logs/.gitkeep
*.log

# Django
db.sqlite3
staticfiles/

# macOS
.DS_Store

# VS Code
.vscode/

# Ruff
.ruff_cache/

# Pytest
.pytest_cache/